// loader
@keyframes loader {
    0% {
        transform: rotate(0deg);
        border-top: 16px $color-primary solid;
        border-bottom: 16px $color-tertiary solid;
    }

    50% {
        border-top: 16px $color-tertiary solid;
        border-bottom: 16px $color-primary solid;
    }

    100% {
        transform: rotate(360deg);
        border-top: 16px $color-primary solid;
        border-bottom: 16px $color-tertiary solid;
    }
}

@keyframes loader-opacity {
    0% {
        z-index: 10;
    }

    60% {
        opacity: 1;
    }

    95% {
        z-index: 10;
        opacity: 0;
    }

    100% {
        z-index: -10;
        opacity: 0;
    }
}

// icon au survol
@keyframes icon-rotate {
    0% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes icon-rotate-return {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(90deg);
    }
}
