// section du footer
footer {
    background-color: #353535;
    width: 100%;
    height: 220px;
    @include display-center;
}

.footer-container {
    @include width-desk;
    height: 180px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__title {
        height: 30%;
        display: flex;
        align-items: center;
        h1 {
            font-family: 'Shrikhand', cursive;
            color: #ffffff;
            font-size: 1.3em;
        }
    }
    &__information {
        height: 70%;
        display: flex;
        flex-direction: column;
    }
    &__information-row {
        padding: 7px 0;
        width: fit-content;
        position: relative;
        color: #ffffff;
        a {
            color: #ffffff;
            font-weight: 500;
        }
        &--icon-propose {
            padding-right: 5px;
            padding-left: 3px;
        }
        &--icon-partenary {
            padding-right: 5px;
        }
        &::after {
            content: '';
            position: absolute;
            background-color: #ffffff;
            height: 3px;
            width: 0;
            left: 0;
            bottom: 0;
            transition: all 300ms ease-in-out;
        }
        &:hover::after {
            width: 100%;
        }
    }
}
