*,
*:before,
*:after {
  box-sizing: border-box;
  text-decoration: none;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Roboto", sans-serif;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  padding-top: 70px;
}

header {
  width: 100%;
  height: 70px;
  position: fixed;
  background-color: #ffffff;
  box-shadow: 0 1px 10px #a0a0a0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
header .bloc {
  height: 100%;
  position: relative;
}

.back {
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 5%;
}
.back__icon {
  font-size: x-large;
  color: black;
}

.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo__img {
  width: 180px;
}

.explore__localisation {
  background-color: #eaeaea;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore__localisation-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore__localisation-text i {
  padding-right: 10px;
}
.explore__localisation-text p {
  font-size: 1.05em;
  font-weight: 500;
}

.explore__list {
  background-color: #f6f6f6;
  height: 325px;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.explore__text {
  width: 90%;
}
.explore__text h1 {
  padding: 10px 10% 10px 10%;
  font-size: 1.6em;
  font-weight: 700;
  text-align: center;
}
.explore__text p {
  padding: 10px 0;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
}

.tutorial {
  padding: 60px 0;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tutorial__title {
  width: 100%;
  padding: 0 5% 15px 5%;
}
.tutorial__title p {
  font-size: 1.6em;
  font-weight: 700;
}

.section-restaurant-list {
  padding: 60px 0;
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.list {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 40px;
}

.list__card {
  background-color: red;
  height: 240px;
  width: 100%;
}

.explore__button button {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  color: #ffffff;
  background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
  border: none;
  border-radius: 50px;
  padding: 18px 30px;
}
.explore__button button:active {
  box-shadow: 0 5px 10px #d6d6d6;
}

.tutorial__step {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  width: 80%;
  height: 82px;
  border-radius: 20px;
  padding: 0 5px 0 5px;
  margin: 15px 0;
  position: relative;
  cursor: pointer;
  box-shadow: 0 5px 15px #d6d6d6;
  transition: all 350ms;
  z-index: 1;
}
.tutorial__step i {
  padding-left: 30px;
  height: 18px;
  width: 18px;
  font-size: large;
  color: #7e7e7e;
  transition: all 350ms;
}
.tutorial__step p {
  font-size: 1.05em;
  font-weight: 700;
  padding-left: 35px;
}
.tutorial__step:active {
  box-shadow: 0 5px 30px #d6d6d6;
  background-color: #f5edff;
}
.tutorial__step:active i {
  color: #9356dc;
}
.tutorial__step::before {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  left: -15px;
  background-color: #9356dc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 500;
}

.tutorial__step--card1::before {
  content: "1";
}

.tutorial__step--card2::before {
  content: "2";
}

.tutorial__step--card3::before {
  content: "3";
}

/*# sourceMappingURL=styles.css.map */
