*,
*:before,
*:after {
  box-sizing: border-box;
  text-decoration: none;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Roboto", sans-serif;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 319px) {
  body {
    width: max-content;
  }
}
header {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
}
header .bloc {
  height: 100%;
  position: relative;
  box-shadow: 0 1px 10px #a0a0a0;
}

.back {
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 5%;
}
.back__icon {
  font-size: x-large;
  color: black;
}

.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo__img {
  width: 180px;
}

footer {
  background-color: #353535;
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  max-width: 1440px;
  margin: auto;
  height: 180px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-container__title {
  height: 30%;
  display: flex;
  align-items: center;
}
.footer-container__title h1 {
  font-family: "Shrikhand", cursive;
  color: #ffffff;
  font-size: 1.3em;
}
.footer-container__information {
  height: 70%;
}
.footer-container__information-row {
  padding: 5px 0;
}
.footer-container__information-row a {
  color: #ffffff;
  font-weight: 500;
}
.footer-container__information-row i {
  color: #ffffff;
}
.footer-container__information-row--proposer i {
  padding: 0 3px;
}

.explore__localisation {
  background-color: #eaeaea;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore__localisation-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore__localisation-text i {
  padding-right: 10px;
}
.explore__localisation-text p {
  font-size: 1.05em;
  font-weight: 500;
}

.explore__localisation-searchbar input {
  background-color: rgba(255, 255, 255, 0);
  height: 25px;
  border: none;
}
.explore__localisation-searchbar input::placeholder {
  font-size: 1.15em;
  padding-left: 2px;
  font-weight: 500;
  color: #000000;
  font-family: "Roboto", sans-serif;
}
.explore__localisation-searchbar input:focus {
  outline: none;
}

.explore__list {
  background-color: #f6f6f6;
  height: 325px;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.explore__text {
  width: 90%;
}
.explore__text h1 {
  padding: 10px 10% 10px 10%;
  font-size: 1.6em;
  font-weight: 700;
  text-align: center;
}
.explore__text p {
  padding: 10px 0;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
}

.tutorial {
  max-width: 1440px;
  margin: auto;
  padding: 60px 0;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tutorial__title {
  width: 100%;
  padding: 0 5% 15px 5%;
}
.tutorial__title h1 {
  font-size: 1.6em;
  font-weight: 700;
}
.tutorial__step-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .tutorial__step-list {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }
}

.section-restaurant-list {
  width: 100%;
  background-color: #f6f6f6;
}

.section-restaurant-container {
  max-width: 1440px;
  margin: auto;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.restaurant-title {
  padding: 0 5% 15px 5%;
  width: 100%;
  display: flex;
}
.restaurant-title h1 {
  font-size: 1.6em;
  font-weight: 700;
}

.restaurant-list {
  width: 80%;
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 40px;
}
@media screen and (min-width: 768px) {
  .restaurant-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 60px;
    grid-column-gap: 60px;
  }
}

.restaurant-cards {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 3px 8px #d9d9d9;
  height: 240px;
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .restaurant-cards {
    height: 290px;
  }
}
@media screen and (min-width: 992px) {
  .restaurant-cards {
    height: 350px;
  }
}

.card__illustration {
  width: 100%;
  height: 70%;
}
.card__illustration--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__information {
  height: 30%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__information h1 {
  color: black;
  font-weight: 700;
  font-size: 1.15em;
  padding: 3px 0;
}
.card__information p {
  color: black;
  padding: 3px 0;
}
.card__information i {
  font-size: larger;
  color: black;
}

.explore__button button {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  color: #ffffff;
  background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
  border: none;
  border-radius: 50px;
  padding: 18px 30px;
  cursor: pointer;
}
.explore__button button:active {
  box-shadow: 0 5px 10px #d6d6d6;
}

.tutorial__step {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  width: 80%;
  height: 82px;
  border-radius: 20px;
  padding: 0 5px 0 5px;
  margin: 15px 0;
  position: relative;
  cursor: pointer;
  box-shadow: 0 5px 15px #d6d6d6;
  transition: all 350ms;
}
.tutorial__step i {
  padding-left: 30px;
  height: 18px;
  width: 18px;
  font-size: large;
  color: #7e7e7e;
  transition: all 350ms;
}
.tutorial__step p {
  font-size: 1.05em;
  font-weight: 700;
  padding-left: 35px;
}
.tutorial__step:active {
  box-shadow: 0 5px 30px #d6d6d6;
  background-color: #f5edff;
}
.tutorial__step:active i {
  color: #9356dc;
}
.tutorial__step::before {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  left: -15px;
  background-color: #9356dc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  .tutorial__step {
    width: 27%;
  }
}

.tutorial__step--card1::before {
  content: "1";
}

.tutorial__step--card2::before {
  content: "2";
}

.tutorial__step--card3::before {
  content: "3";
}

/*# sourceMappingURL=styles.css.map */
