@charset "UTF-8";
@keyframes loader {
  0% {
    transform: rotate(0deg);
    border-top: 16px #9356dc solid;
    border-bottom: 16px #99e2d0 solid;
  }
  50% {
    border-top: 16px #99e2d0 solid;
    border-bottom: 16px #9356dc solid;
  }
  100% {
    transform: rotate(360deg);
    border-top: 16px #9356dc solid;
    border-bottom: 16px #99e2d0 solid;
  }
}
@keyframes loader-opacity {
  0% {
    z-index: 10;
  }
  60% {
    opacity: 1;
  }
  95% {
    z-index: 10;
    opacity: 0;
  }
  100% {
    z-index: -10;
    opacity: 0;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
  text-decoration: none;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Roboto", sans-serif;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 319px) {
  body {
    width: max-content;
  }
}
header {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
}
header .bloc {
  height: 100%;
  position: relative;
  box-shadow: 0 5px 15px #d6d6d6;
}

.back {
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 5%;
}
.back__icon {
  font-size: x-large;
  color: black;
}

.logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo__img {
  width: 180px;
}

footer {
  background-color: #353535;
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  max-width: 1440px;
  margin: auto;
  height: 180px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-container__title {
  height: 30%;
  display: flex;
  align-items: center;
}
.footer-container__title h1 {
  font-family: "Shrikhand", cursive;
  color: #ffffff;
  font-size: 1.3em;
}
.footer-container__information {
  height: 70%;
  display: flex;
  flex-direction: column;
}
.footer-container__information-row {
  padding: 7px 0;
  width: fit-content;
  position: relative;
  color: #ffffff;
}
.footer-container__information-row a {
  color: #ffffff;
  font-weight: 500;
}
.footer-container__information-row--icon-propose {
  padding-right: 5px;
  padding-left: 3px;
}
.footer-container__information-row--icon-partenary {
  padding-right: 5px;
}
.footer-container__information-row::after {
  content: "";
  position: absolute;
  background-color: #ffffff;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0;
  transition: all 300ms ease-in-out;
}
.footer-container__information-row:hover::after {
  width: 100%;
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader-opacity 3000ms forwards;
}
.spinner__loader {
  width: 120px;
  height: 120px;
  border: 16px #e5e5e5 solid;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  opacity: 0.7;
  animation: loader 1500ms linear infinite;
}

.explore__localisation {
  background-color: #eaeaea;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore__localisation-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.explore__localisation-text i {
  padding-right: 10px;
}
.explore__localisation-text p {
  font-size: 1.05em;
  font-weight: 500;
}

.explore__localisation-searchbar input {
  background-color: rgba(255, 255, 255, 0);
  height: 25px;
  width: 140px;
  border: none;
}
.explore__localisation-searchbar input::placeholder {
  font-size: 1.15em;
  padding-left: 2px;
  font-weight: 500;
  color: #000000;
  font-family: "Roboto", sans-serif;
}
.explore__localisation-searchbar input:focus {
  outline: none;
}

.explore__list {
  background-color: #f6f6f6;
  height: 325px;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.explore__text {
  width: 90%;
}
.explore__text h1 {
  padding: 10px 10% 10px 10%;
  font-size: 1.6em;
  font-weight: 700;
  text-align: center;
}
.explore__text p {
  padding: 10px 0;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
}

.tutorial {
  max-width: 1440px;
  margin: auto;
  padding: 60px 0;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tutorial__title {
  width: 100%;
  padding: 0 5% 15px 5%;
}
.tutorial__title h1 {
  font-size: 1.6em;
  font-weight: 700;
}
.tutorial__step-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 992px) {
  .tutorial__step-list {
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
  }
}

.section-restaurant-list {
  width: 100%;
  background-color: #f6f6f6;
}

.section-restaurant-container {
  max-width: 1440px;
  margin: auto;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.restaurant-title {
  padding: 0 5% 15px 5%;
  width: 100%;
  display: flex;
}
.restaurant-title h1 {
  font-size: 1.6em;
  font-weight: 700;
}

.restaurant-list {
  width: 80%;
  margin: 20px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 40px;
}
@media screen and (min-width: 768px) {
  .restaurant-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 60px;
    grid-column-gap: 60px;
  }
}

.background {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.background__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0 0;
  transform: translateY(-50px);
  margin-bottom: -50px;
}
@media screen and (min-width: 768px) {
  .section-menu {
    padding: 40px 0;
  }
}

.section-menu-title {
  width: 90%;
  max-width: 1440px;
  margin: auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-menu-title h1 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7em;
}

.section-menu-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .section-menu-list {
    flex-direction: row;
    width: 90%;
    max-width: 1440px;
    margin: auto;
  }
}
.section-menu-list__title {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.section-menu-list__title h2 {
  font-weight: 400;
  color: #000000;
  padding-left: 2px;
  padding-bottom: 4px;
}
.section-menu-list__title::after {
  content: "";
  position: absolute;
  background-color: #99e2d0;
  height: 3px;
  width: 25px;
  bottom: 9px;
}
.section-menu-list__choice {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section-menu-list__choice-card {
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 5px 15px #d6d6d6;
}

.menu-entrées,
.menu-plats,
.menu-desserts {
  height: 300px;
  width: 90%;
  max-width: 1440px;
  margin: auto;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .menu-entrées,
.menu-plats,
.menu-desserts {
    width: 30%;
  }
}

.restaurant-cards {
  box-shadow: 0 5px 15px #d6d6d6;
  background-color: #ffffff;
  border-radius: 20px;
  height: 240px;
  width: 100%;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .restaurant-cards {
    height: 290px;
  }
}
@media screen and (min-width: 992px) {
  .restaurant-cards {
    height: 350px;
  }
}

.card__illustration {
  width: 100%;
  height: 70%;
}
.card__illustration--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__information {
  height: 30%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__information h1 {
  color: black;
  font-weight: 700;
  font-size: 1.15em;
  padding: 3px 0;
}
.card__information p {
  color: black;
  padding: 3px 0;
}
.card__information i {
  font-size: larger;
  color: black;
}

.section-menu-list__choice-card {
  overflow: hidden;
  height: 70px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0 5px 15px #d6d6d6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section-menu-list__card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 85%;
}
.section-menu-list__card-text h3 {
  color: #000000;
  font-weight: 700;
  font-size: 1.1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.section-menu-list__card-text p {
  color: #000000;
  font-weight: 400;
  font-size: 0.95em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.section-menu-list__card-price {
  display: flex;
  align-items: flex-end;
}
.section-menu-list__card-price p {
  color: #000000;
  font-weight: 700;
  font-size: 1em;
}

.explore__button button {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  color: #ffffff;
  background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
  border: none;
  border-radius: 50px;
  padding: 18px 30px;
  cursor: pointer;
}
.explore__button button:active {
  box-shadow: 0 5px 15px #d6d6d6;
}

.tutorial__step {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  width: 80%;
  height: 82px;
  border-radius: 20px;
  padding: 0 5px 0 5px;
  margin: 15px 0;
  position: relative;
  cursor: pointer;
  box-shadow: 0 5px 15px #d6d6d6;
  transition: all 350ms;
}
.tutorial__step i {
  padding-left: 30px;
  height: 18px;
  width: 18px;
  font-size: large;
  color: #7e7e7e;
  transition: all 350ms;
}
.tutorial__step p {
  font-size: 1.05em;
  font-weight: 700;
  padding-left: 35px;
  transition: all 350ms;
}
.tutorial__step:active {
  background-color: #f5edff;
}
.tutorial__step:active i {
  color: #9356dc;
}
.tutorial__step:active p {
  color: #9356dc;
}
.tutorial__step::before {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 100%;
  left: -15px;
  background-color: #9356dc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 500;
}
@media screen and (min-width: 992px) {
  .tutorial__step {
    width: 27%;
  }
}

.tutorial__step--card1::before {
  content: "1";
}

.tutorial__step--card2::before {
  content: "2";
}

.tutorial__step--card3::before {
  content: "3";
}

/*# sourceMappingURL=styles.css.map */
