// section introduction
.explore__localisation {
    background-color: #eaeaea;
    height: 55px;
    @include display-center;
}

.explore__localisation-text {
    @include display-center;
    i {
        padding-right: 10px;
    }
    p {
        font-size: 1.05em;
        font-weight: 500;
    }
}

.explore__list {
    background-color: #f6f6f6;
    height: 325px;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.explore__text {
    width: 90%;
    h1 {
        padding: 10px 10% 10px 10%;
        font-size: 1.6em;
        font-weight: 700;
        text-align: center;
    }
    p {
        padding: 10px 0;
        font-size: 1.2em;
        font-weight: 300;
        text-align: center;
    }
}

.tutorial {
    padding: 60px 0;
    width: 100%;
    background-color: #ffffff;
    @include display-center;
    flex-direction: column;
    &__title {
        width: 100%;
        padding: 0 5% 15px 5%;
        h1 {
            font-size: 1.6em;
            font-weight: 700;
        }
    }
}

// section restaurants
.section-restaurant-list {
    padding: 60px 0;
    background-color: #f6f6f6;
    @include display-center;
    flex-direction: column;
}

.restaurant-title {
    padding: 0 5% 15px 5%;
    width: 100%;
    display: flex;
    h1 {
        font-size: 1.6em;
        font-weight: 700;
    }
}

.restaurant-list {
    width: 80%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 40px;
}
