.explore__list {
    display: flex;
    justify-content: center;
}

.explore__text {
    width: 90%;
    h1 {
        padding: 10px 10% 10px 10%;
        font-size: 1.6em;
        font-weight: 700;
        text-align: center;
    }
    p {
        padding: 10px 0;
        font-size: 1.2em;
        font-weight: 300;
        text-align: center;
    }
}
