// loader de la page
.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
    @include display-center;
    animation: loader-opacity 3000ms forwards;
    &__loader {
        width: 120px;
        height: 120px;
        border: 16px #e5e5e5 solid;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
        border-radius: 100%;
        opacity: 0.7;
        animation: loader 1500ms linear infinite;
    }
}

// section introduction
.explore__localisation {
    background-color: #eaeaea;
    height: 55px;
    @include display-center;
}

.explore__localisation-text {
    @include display-center;
    i {
        padding-right: 10px;
    }
    p {
        font-size: 1.05em;
        font-weight: 500;
    }
}

.explore__localisation-searchbar input {
    background-color: rgba(255, 255, 255, 0);
    height: 25px;
    width: 140px;
    border: none;
    &::placeholder {
        font-size: 1.15em;
        padding-left: 2px;
        font-weight: 500;
        color: #000000;
        font-family: 'Roboto', sans-serif;
    }
    &:focus {
        outline: none;
    }
}

.explore__list {
    background-color: #f6f6f6;
    height: 325px;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.explore__text {
    width: 90%;
    h1 {
        padding: 10px 10% 10px 10%;
        font-size: 1.6em;
        font-weight: 700;
        text-align: center;
    }
    p {
        padding: 10px 0;
        font-size: 1.2em;
        font-weight: 300;
        text-align: center;
    }
}

.tutorial {
    @include width-desk;
    padding: 60px 0;
    width: 100%;
    background-color: #ffffff;
    @include display-center;
    flex-direction: column;
    &__title {
        width: 100%;
        padding: 0 5% 15px 5%;
        h1 {
            font-size: 1.6em;
            font-weight: 700;
        }
    }
    &__step-list {
        @include display-center;
        flex-direction: column;
        width: 100%;
        @include desk {
            flex-direction: row;
            justify-content: space-between;
            width: 80%;
        }
    }
}

// section restaurants
.section-restaurant-list {
    width: 100%;
    background-color: #f6f6f6;
}

.section-restaurant-container {
    @include width-desk;
    padding: 60px 0;
    @include display-center;
    flex-direction: column;
}

.restaurant-title {
    padding: 0 5% 15px 5%;
    width: 100%;
    display: flex;
    h1 {
        font-size: 1.6em;
        font-weight: 700;
    }
}

.restaurant-list {
    width: 80%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-row-gap: 40px;
    @include tablet {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 60px;
        grid-column-gap: 60px;
    }
}
