// background image
.background {
    width: 100%;
    height: 300px;
    overflow: hidden;
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// section des menus
.section-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: #f6f6f6;
    border-radius: 20px 20px 0 0;
    transform: translateY(-50px);
    margin-bottom: -50px;
    @include tablet {
        padding: 40px 0;
    }
}

.section-menu-title {
    width: 90%;
    @include width-desk;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    h2 {
        font-family: 'Shrikhand', cursive;
        font-size: 1.7em;
    }
    &__like-icon {
        width: 32px;
        height: 32px;
        position: relative;
        cursor: pointer;
        &--unliked {
            position: absolute;
            font-size: xx-large;
            right: 0;
            top: 0;
            color: #000000;
        }
        &--liked {
            position: absolute;
            font-size: xx-large;
            color: transparent;
            background-image: linear-gradient(to bottom left, $color-primary, $color-secondary);
            background-clip: text;
            -webkit-background-clip: text;
            opacity: 0;
            transition: all 300ms ease-in-out;
            right: 0;
            top: 0;
        }
        &:hover &--liked {
            opacity: 1;
        }
    }
}

.section-menu-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablet {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 90%;
        @include width-desk;
    }
    &__title {
        height: 45px;
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        h2 {
            font-weight: 400;
            color: #000000;
            padding-left: 2px;
            padding-bottom: 4px;
        }
        &::after {
            content: '';
            position: absolute;
            background-color: $color-tertiary;
            height: 3px;
            width: 25px;
            bottom: 9px;
        }
    }
    &__choice {
        height: 255px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__choice--four {
        height: 340px;
    }
}

.menu-entrées,
.menu-plats,
.menu-desserts {
    height: 300px;
    width: 90%;
    @include tablet {
        width: 30%;
    }
    margin-bottom: 20px;
}

.menu-entrées--four {
    height: 400px;
}
